@font-face
  font-family 'BitBold'
  src url('../fonts/BitBold.eot')
  src url('../fonts/BitBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BitBold.woff') format('woff'),
       url('../fonts/BitBold.ttf') format('truetype'),
       url('../fonts/BitBold.svg#BitBold') format('svg')
  font-weight normal
  font-style normal

p.font-bitbold
  position absolute
  font-family 'BitBold'
  visibility hidden
