@import fonts

body
  margin 0
  padding 0
  overflow hidden

audio
  display none

section.overlay
  z-index 100
  position fixed
  width 100vw
  height 100vh
  background rgba(0,0,0,0.5)
  padding calc(40vh - 100px) 0

  img
    display block
    margin 0 auto 8vh auto

  &.close
    display none

  form
    text-align center

    input, button
      font-size 24px
      padding 14px 18px
      display inline-block
      background #fff
      color #000
      border 2px solid #000
      font-family BitBold

    button
      cursor pointer
      &:hover
        background #000
        color #fff
